
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x: hidden}
body{margin:0}
main{margin:0;padding:0px}
header,article,aside,section,footer{display: block}
audio,canvas,progress,video{display:inline-block}

/* Fonts */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
h1{font-size:36px;border-bottom:3px ;}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:750;margin:10px 0}
.site-wide{letter-spacing:4px}

/*-- Progress Bars --*/

progress[value]{-webkit-appearance: none;-moz-appearance: none;;border:none;height:10px; width:200px;}

/*-- webkit --*/
progress[value]::-webkit-progress-bar{background-color:#eee;border-radius: 5px;box-shadow: 0 2px 5px rbga(0,0,0,0.25)inset;}

progress[value]::-webkit-progress-value{background-image:-webkit-linear-gradient(-45deg,transparent 33%,rgba(0,0,0,0,.1)33%,rgba(0,0,0,.1)66%,transparent 66%),-webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(0,0,0,.25)),-webkit-linear-gradient(left,#09c,#f44);border-radius: 5px;background-size:35px 20px,100% 100%,100% 100%;-webkit-animation: animate-stripes 5s linear infinite;animation: animate-stripes 5s linear infinite;}
@-webkit-keyframes animate-stripes {100%{background-position: -100px 0px;}}
@keyframes animate-stripes{100%{background-position: -100px 0px; }}
progress[value]::-webkit-progress-value::before{content: attr(value);position:absolute;right:0;top:-125%;}
progress[value]::-webkit-progress-value::after{content:'';width:6px;height:6px;position: absolute;border-radius: 100%;right:7px;top:7px;background-color: white;}
/*-- Firefox --*/
progress[value]::-moz-progress-bar{background-image: -moz-linear-gradient(135deg,transparent 33%,rbga(0,0,0,0.1)33%,rbga(0,0,0,0.1)66%,transparent 66%),-moz-linear-gradient(top,rbga(255,255,255,0.25),rbga(0,0,0,0.25)),-moz-linear-gradient(left,#09c,#f44);border-radius: 5px;background-size: 35px 20px,100% 100%,100% 100%;}
/*-- Other Browsers --*/
.progress-bar{background-color: whitesmoke;border-radius: 5px;box-shadow: 0 2px 3px rgba(0,0,0,0,.25) inset;width:200px;height:10px;position: relative;}
.progress-bar span{background-color: blue;border-radius: 5px;display:block;text-indent:-9999px;}






.site-arial{font-family: Arial, Helvetica, sans-serif!important;}
.site-cambria{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;}
.site-courier-monospace{font-family: 'Courier New', Courier, monospace!important;}
.site-cursive{font-family:florence, cursive!important;}
.site-fantasy{font-family: Blippo, fantasy!important;}
.site-franklin-gothic{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;}
.site-gill-sans{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;}
.site-helvetica{font-family: Helvetica, Arial, sans-serif!important;}
.site-lucida{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;}
.site-serif{font-family:serif!important;}
.site-times-new-roman{font-family: 'Times New Roman', Times, serif!important;}
.site-trebuchet{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;}

a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}

/*--Navigation--*/
.navIndex-dark {display: inline-block;background-color: #151515;position: relative;font-size: 16px;padding: 10px;margin-bottom: 1px;}
.navIndex-light {display: inline-block;background-color: #fcfcfc;position: relative;font-size: 16px;padding: 10px;margin-bottom: 1px;}
.navIndex-dark a,.navIndex-light a {display: inline-block;margin-right: 1px;}
.navIndex-menu-dark {display: inline-block;background-color: #151515;position: relative;font-size: 16px;padding: 10px;margin-bottom: 1px;}
.navIndex-menu-light {display: inline-block;background-color: #cccc;position: relative;font-size: 16px;padding: 10px;margin-bottom: 1px;}
.navIndex-menu-dark a,.navIndex-menu-light a {display: inline-block;margin-right: 1px;}
.nav-dark{width:auto;background-color: #151519;padding: 5px 10px;text-decoration: none;color: whitesmoke;border-radius: 2px 2px 2px 2px;}
.nav-light{width:auto;background-color: #ccc;padding: 5px 10px;text-decoration: none;color: rgb(71, 94, 94);border-radius: 2px 2px 2px 2px;}

.navIndex-dark a:hover {color: white;background-color: #4caf50;}
.navIndex-light a:hover {color: #151515;background-color: #4caf50;}
.nav-button-dark{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");border:none;display:none;padding:8px 16px;vertical-align: middle;content:"";overflow: hidden;text-decoration: none;color:whitesmoke;background-color: inherit;text-align: center;cursor: pointer;white-space: nowrap;}
.nav-button-dark:hover{color:#100!important;background-color: #ccc!important}
.nav-button-light{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");border:none;display:none;padding:8px 16px;vertical-align: middle;overflow: hidden;text-decoration: none;color:whitesmoke;background-color: inherit;text-align: center;cursor: pointer;white-space: nowrap;}
.nav-button-light:hover{color:#100!important;background-color: #ccc!important}

/*--Dropdown--*/
.dropdown-main{background-color:  #151519;color:white;padding: 5px 10px;border-radius: 4px 4px 0 0;border: none;cursor: pointer;}
.dropdown-main:hover, .dropdown-main:focus {background-color: black;color:darkturquoise}
.dropdown-main:active{background-color:  rgb(71, 94, 94);color:white;padding: 5px 10px;}
.dropdown-menu{display: none;color:white;position: absolute ;background-color:#222222;min-width: 150px;width:50%;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);}
.dropdown-menu:first-child,.dropdown-menu a {color:white;padding:12px 16px;text-decoration: none;display: block;}
.dropdown-menu a:hover,.dropdown-menu:first-child:hover, .dropdown-menu a:focus,.dropdown-menu:first-child:focus{background-color:  #151519;color: darkturquoise;}

/*--Form--*/
.site-form {display: block;width: 100%;padding: 0.375rem 0.75rem;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #fff;border: 1px solid #ced4da;border-radius: 0.25rem;}




/*-- Side Bar Menu --*/
.menu ul {list-style-type: none;margin: 0;padding: 0;}
.menu li {padding: 8px;margin-bottom: 7px;background-color: #151515;color: #ffffff;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.menu li:hover {background-color: #0099cc;}
.menu li a {padding: 8px;margin-bottom: 7px;background-color: #151515;color: #ffffff;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.menu li a:hover {background-color: #0099cc;}

.site-side-nav {list-style-type: none;margin: 0;padding: 0;}
.site-side-nav {padding: 8px;margin-bottom: 7px;background-color: #151515;color: #ffffff;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.site-side-nav:hover {background-color: #0099cc;}
/*-- Aside --*/
.aside {background-color: cornflowerblue;padding: 15px;color: #ffffff;text-align: center;font-size: 14px;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

/*-- Footer --*/
footer{background-color: #151519;color: white;}
/*--Container--*/
.site-display-container{padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.site-display-container:hover .site-display-hover{display: block}
.site-display-container:hover span .site-display-hover{display:inline-block}
.site-display-hover{display:none}
.site-display-position{position:absolute}

.site-button{border:none;display:inline-block;padding:8px 16px;vertical-align: middle;overflow: hidden;text-decoration: none;color:inherit;background-color: inherit;text-align: center;cursor: pointer;white-space: nowrap;border-radius: 0.25rem;}
.site-button:hover{color:#100!important;background-color: #ccc!important}

/*-- Scroll button --*/
.site-scroll-button{border:none;outline:none; display: none ; position:fixed;bottom:20px;right:30px;z-index:99;padding:8px 16px;vertical-align: middle;overflow: hidden;text-decoration: none;color:#fff;background-color: #009688!important;text-align: center;cursor: pointer;white-space: nowrap;}
.site-scroll-button:hover{color:#fff!important;background-color:#4caf50!important;}
#scroll01{border:none;outline:none;display:none;position:fixed;bottom:20px;right:30px;z-index:99;padding:8px 16px;vertical-align: middle;overflow: hidden;text-decoration: none;color:#fff;background-color: #009688!important;text-align: center;cursor: pointer;}
#scroll01:hover{color:#fff!important;background-color:#4caf50!important;}

.site-disabled,.site-btn:disabled,.site-button:disabled{cursor: unset;opacity:0.3}
.site-disabled *,:disabled *{pointer-events:none}
.site-btn.site-disabled:hover,.site-btn:disabled:hover{box-shadow:none}
.button{width:auto;background-color: #151519;padding: 5px 10px;text-decoration: none;color: whitesmoke;border-radius: 2px 2px 2px 2px;}
.button:hover {color: white;background-color: #4caf50;}


/*-- Positioning --*/
.site-left{position:relative;left:0%;transform:translate(0%,0%);-ms-transform: translate(0%,0%);}
.site-right{position:relative;left:90%;right:10%;transform: translate(90%,0%);-ms-transform: translate(90%,0%);}
.site-display-left{position:absolute;top: 50%;left:0%;transform: translate(0%,-50%);-ms-transform: translate(0%,-50%);}
.site-display-right{position:absolute;top: 50%;right:0%;transform: translate(0%,-50%);-ms-transform: translate(0%,-50%);}
.site-display-bottomleft{position: absolute;left:0;bottom:0;}
.site-display-bottomright{position: absolute;right:0;bottom: 0;}
.site-display-middle{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);-ms-transform:translate(-50%,-50%);}
.site-display-topmiddle{position: absolute;left:50%;top:0;transform: translate(-50%,0%);-ms-transform: translate(-50%,0%);}
.site-display-bottommiddle{position: absolute;left:50%;bottom: 0;transform: translate(-50%,0%);-ms-transform: translate(-50%,0%);}
.site-display-align-center{position: absolute;text-align: center;}
.site-top-left{position: absolute;left:0%;top:0;}
.site-top-right{position: absolute;right:0%;top:1%;}

.site-padding-small{padding: 4px 8px!important}
.site-padding{padding:8px 16px!important}
.site-padding-large{padding:12px 24px}
.site-padding-16{padding-top: 16px !important;padding-block-end: 16px !important}
.site-padding-24{padding-top: 24px !important;padding-block-end: 24px !important}
.site-padding-32{padding-top: 32px !important;padding-block-end: 32px !important}
.site-padding-48{padding-top: 48px !important;padding-block-end: 48px !important}
.site-padding-64{padding-top: 64px !important;padding-block-end: 64px !important}

img{border-style: none;vertical-align: middle;}
.site-image{max-width:100%;height:auto}

.site-badge,.site-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.site-badge{border-radius:50%}

.site-border-0{border:0!important}.site-border{border:1px solid #ccc!important}
.site-border-top{border-top:1px solid #ccc!important}.site-border-bottom{border-bottom:1px solid #ccc!important}
.site-border-left{border-left:1px solid #ccc!important}.site-border-right{border-right:1px solid #ccc!important}

/*------------ Responsive Grid view-------*/
/* setting the box property in all elements to border box */
*{box-sizing: border-box;}
/* simple responsiveness*/
.header{padding: 0px;border: 0px gray;}
/* we use classes menu and main as follows:
        <div class="menu></div>
        <div class="main></div>
*/
.menu{width:25%;float:left;padding: 15px;border: 1px gray;}
.main{width: 75%;float:left;padding: 15px;border: 1px gray;}
/* Instead of having two classes,i.e: menu and main, we use one major class for both called row*/
/* i.e:
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9><?div>
        </div>
*/
.row::after{content:"";clear:both;display: table;}

[class*="col-"] { 
    float: left;
    padding: 15px;
}
 /* For mobile phones: */
 [class*="col-"] {
    width: 100%;
}
@media only screen and (max-width:599px){
    .site-prev-next{top:25%}
    .dropdown-menu{padding:12px 16px;position:relative; width:100%;display: none;}
    .dropdown-menu:first-child,.dropdown-menu a{padding:12px 16px;width:100%;float:left;text-decoration: none;display: block;}
    .navIndex-light,.navIndex-dark{display: -ms-flexbox;display:flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between}
    .navIndex-light a,.navIndex-dark a{display: none}
    .nav-light,.nav-dark{width:100%;}
    .nav-button-dark{display: block}
    .nav-button-light{display: block}
    
}
@media only screen and (min-width: 600px) {
    /* For tablets & smartphones: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;} 
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .site-prev-next{top:25%}
    .navIndex-light,.navIndex-dark{display: -ms-flexbox;display:flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between}
    .navIndex-light a,.navIndex-dark a{display: none}
    .nav-light,.nav-dark{width:100%;}
    .nav-button-dark{display: block}
    .nav-button-light{display: block}
}
@media only screen and (min-width: 768px) {
 /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .site-prev-next{top:50%}
    .navIndex-light,.navIndex-dark{display: -ms-flexbox;display:flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between}
    .navIndex-light a,.navIndex-dark a{display: none}
    .nav-light,.nav-dark{width:100%;}
    .nav-button-dark{display: block}
    .nav-button-light{display: block}
}

/* colors*/
/*-- Background colors --*/
.site-amber,.site-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.site-aqua,.site-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.site-blue,.site-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.site-light-blue,.site-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.site-brown,.site-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.site-cyan,.site-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.site-blue-grey,.site-hover-blue-grey:hover,.site-blue-gray,.site-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.site-green,.site-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.site-light-green,.site-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.site-indigo,.site-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.site-khaki,.site-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.site-lime,.site-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.site-orange,.site-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.site-deep-orange,.site-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.site-pink,.site-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.site-purple,.site-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.site-deep-purple,.site-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.site-red,.site-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.site-sand,.site-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.site-teal,.site-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.site-yellow,.site-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.site-white,.site-hover-white:hover{color:#000!important;background-color:#fff!important}
.site-black,.site-hover-black:hover{color:#fff!important;background-color:#000!important}
.site-grey,.site-hover-grey:hover,.site-gray,.site-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.site-light-grey,.site-hover-light-grey:hover,.site-light-gray,.site-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.site-dark-grey,.site-hover-dark-grey:hover,.site-dark-gray,.site-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.site-pale-red,.site-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.site-pale-green,.site-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.site-pale-yellow,.site-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.site-pale-blue,.site-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.site-blue-black,.site-hover-blue-black:hover{color: white!important;background-color: #151519!important;}
/*-- Text color --*/
.site-text-amber,.site-hover-text-amber:hover{color:#ffc107!important}
.site-text-aqua,.site-hover-text-aqua:hover{color:#00ffff!important}
.site-text-blue,.site-hover-text-blue:hover{color:#2196F3!important}
.site-text-light-blue,.site-hover-text-light-blue:hover{color:#87CEEB!important}
.site-text-brown,.site-hover-text-brown:hover{color:#795548!important}
.site-text-cyan,.site-hover-text-cyan:hover{color:#00bcd4!important}
.site-text-blue-grey,.site-hover-text-blue-grey:hover,.site-text-blue-gray,.site-hover-text-blue-gray:hover{color:#607d8b!important}
.site-text-green,.site-hover-text-green:hover{color:#4CAF50!important}
.site-text-light-green,.site-hover-text-light-green:hover{color:#8bc34a!important}
.site-text-indigo,.site-hover-text-indigo:hover{color:#3f51b5!important}
.site-text-khaki,.site-hover-text-khaki:hover{color:#b4aa50!important}
.site-text-lime,.site-hover-text-lime:hover{color:#cddc39!important}
.site-text-orange,.site-hover-text-orange:hover{color:#ff9800!important}
.site-text-deep-orange,.site-hover-text-deep-orange:hover{color:#ff5722!important}
.site-text-pink,.site-hover-text-pink:hover{color:#e91e63!important}
.site-text-purple,.site-hover-text-purple:hover{color:#9c27b0!important}
.site-text-deep-purple,.site-hover-text-deep-purple:hover{color:#673ab7!important}
.site-text-red,.site-hover-text-red:hover{color:#f44336!important}
.site-text-sand,.site-hover-text-sand:hover{color:#fdf5e6!important}
.site-text-teal,.site-hover-text-teal:hover{color:#009688!important}
.site-text-yellow,.site-hover-text-yellow:hover{color:#d2be0e!important}
.site-text-white,.site-hover-text-white:hover{color:#fff!important}
.site-text-black,.site-hover-text-black:hover{color:#000!important}
.site-text-grey,.site-hover-text-grey:hover,.site-text-gray,.site-hover-text-gray:hover{color:#757575!important}
.site-text-light-grey,.site-hover-text-light-grey:hover,.site-text-light-gray,.site-hover-text-light-gray:hover{color:#f1f1f1!important}
.site-text-dark-grey,.site-hover-text-dark-grey:hover,.site-text-dark-gray,.site-hover-text-dark-gray:hover{color:#3a3a3a!important}
/*-- Border color --*/
.site-border-amber,.site-hover-border-amber:hover{border-color:#ffc107!important}
.site-border-aqua,.site-hover-border-aqua:hover{border-color:#00ffff!important}
.site-border-blue,.site-hover-border-blue:hover{border-color:#2196F3!important}
.site-border-light-blue,.site-hover-border-light-blue:hover{border-color:#87CEEB!important}
.site-border-brown,.site-hover-border-brown:hover{border-color:#795548!important}
.site-border-cyan,.site-hover-border-cyan:hover{border-color:#00bcd4!important}
.site-border-blue-grey,.site-hover-border-blue-grey:hover,.site-border-blue-gray,.site-hover-border-blue-gray:hover{border-color:#607d8b!important}
.site-border-green,.site-hover-border-green:hover{border-color:#4CAF50!important}
.site-border-light-green,.site-hover-border-light-green:hover{border-color:#8bc34a!important}
.site-border-indigo,.site-hover-border-indigo:hover{border-color:#3f51b5!important}
.site-border-khaki,.site-hover-border-khaki:hover{border-color:#f0e68c!important}
.site-border-lime,.site-hover-border-lime:hover{border-color:#cddc39!important}
.site-border-orange,.site-hover-border-orange:hover{border-color:#ff9800!important}
.site-border-deep-orange,.site-hover-border-deep-orange:hover{border-color:#ff5722!important}
.site-border-pink,.site-hover-border-pink:hover{border-color:#e91e63!important}
.site-border-purple,.site-hover-border-purple:hover{border-color:#9c27b0!important}
.site-border-deep-purple,.site-hover-border-deep-purple:hover{border-color:#673ab7!important}
.site-border-red,.site-hover-border-red:hover{border-color:#f44336!important}
.site-border-sand,.site-hover-border-sand:hover{border-color:#fdf5e6!important}
.site-border-teal,.site-hover-border-teal:hover{border-color:#009688!important}
.site-border-yellow,.site-hover-border-yellow:hover{border-color:#ffeb3b!important}
.site-border-white,.site-hover-border-white:hover{border-color:#fff!important}
.site-border-black,.site-hover-border-black:hover{border-color:#000!important}
.site-border-grey,.site-hover-border-grey:hover,.site-border-gray,.site-hover-border-gray:hover{border-color:#9e9e9e!important}
.site-border-light-grey,.site-hover-border-light-grey:hover,.site-border-light-gray,.site-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.site-border-dark-grey,.site-hover-border-dark-grey:hover,.site-border-dark-gray,.site-hover-border-dark-gray:hover{border-color:#616161!important}
.site-border-pale-red,.site-hover-border-pale-red:hover{border-color:#ffe7e7!important}.site-border-pale-green,.site-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.site-border-pale-yellow,.site-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.site-border-pale-blue,.site-hover-border-pale-blue:hover{border-color:#e7ffff!important}

